#!/usr/bash
export AWS_PROFILE=<AWS_PROFILE>
export STACK_PREFIX=<STACK_PREFIX>
export AWS_REGION=${AWS_REGION:=$(aws configure get region)}
export AWS_ACCOUNT_ID=${AWS_ACCOUNT_ID:=$(aws sts get-caller-identity --query Account --output text)}
